{% extends "base.admin.html.twig" %}

{% block body %}

    <h3>Utilisateurs du site</h3>
    <div class="col-12 d-flex justify-content-center">
        <a class="btn btn-primary" href="{{ path('usercrud_create')}}">Ajouter un utilisateur</a>
    </div>
    {% include "admin/user/_content.html.twig" %}
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="/script/renderTable.js"></script>
<script type="text/javascript" src="/script/validating.js"></script>
{% endblock %}