{% extends 'base.html.twig' %}
{% block title %}Êvenements de la category {{ categorySlug }}{% endblock %}



{% block body %}
<p>Page affichant les êvenements de la categorie souhaitée : {{ categorySlug }}</p>
    
{% endblock %}
