{% extends 'base.html.twig' %}
{% block title %}Êvenements de la category {{ categorySlug }}{% endblock %}



{% block body %}
<p>Page affichant les êvenements de la categorie souhaitée</p>
<p>category : {{ categorySlug }} </p>
    
{% endblock %}
