{% extends 'base.html.twig' %}
{% block title %}delete event{% endblock %}



{% block body %}
    <p>Il n'y aura pas de page pour le delete. La methode suprime l'event à l'id : {{ id }} puis redirige vers une autre page</p>
    
{% endblock %}
