{% extends 'base.html.twig' %}
{% block title %}Êvenements{% endblock %}



{% block body %}
<p>Page affichant les êvenements (sans tri et sans bloc 'evenemetns populaires)    Juste la liste</p>
    
{% endblock %}
