{% extends 'base.html.twig' %}

{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}

{% block title %}Êvenements{% endblock %}


{% block body %}
	<div class="container">
		<div class="row my-4">
			<div class="col-12">
				{% include "event/_search.html.twig" %}
			</div>
			<div class="col-12">
				<h1>Resultats</h1>
			</div>
		</div>
		<div class="row my-5" id="content">
			{% include "event/_content.html.twig" %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('script/filtersEvent.js')}}"></script>
{% endblock %}
