{% extends 'base.html.twig' %}
{% block title %}un event{% endblock %}



{% block body %}
    <p>Page affichant un event</p>    
    <p>slug category : {{ categorySlug }}</p>
    <p>slug event : {{ eventSlug }}</p>
{% endblock %}
