{% extends 'base.html.twig' %}
{% block title %}update event{% endblock %}



{% block body %}
    <p>Page affichant un formulaire permettant de modifier un event / id : {{ id }}</p>
    
{% endblock %}
