{% extends "base.html.twig" %}
{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <div class="container">
    {% include "shared/_choice.register.html.twig" %}   
    <div class="row py-5">
        <div class="col-12">
            <h4>Inscription en tant qu'utilisateur</h4>
        </div>
    </div>
    <div class="row py-5">
        {{form_start(form)}}
        {% include "shared/_form.register.html.twig" %}
        <div class="row my-2">
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Inscription</button>
            </div>
        </div>
        {{form_end(form)}}

    </div>  
</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
    <script src="/script/apiAdress.js"></script>
	<script>
        envoieAjax('adressUser','User');
    </script>
{% endblock %}