{% extends "base.html.twig" %}
{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <div class="container">
        {% include "shared/_choice.register.html.twig" %} 
    </div>
{% endblock %}