{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
	<div class="container">
		<div class="mb-5">
			<h1 class="text-center my-5">Mentions légales</h1>
			{# <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site legalplace.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p> #}

			<h4>Edition du site</h4>

			{# <p>Le site legalplace.fr est édité par la société LegalPlace, société par actions simplifiée au capital de 10.051,50 euros, dont le siège social est situé 47 rue Marcel Dassault, 92100 Boulogne-Billancourt, immatriculée au registre du commerce et des sociétés sous le numéro d’identification unique 814 428 785 RCS Nanterre.</p> #}


			<h4>Responsable de publication :
			</h4>

			<h4>Hébergeur</h4>

			{# <p>Le site legalplace.fr est hébergé par la société Amazon Web Services LLC</p> #}

			{# <p>Adresse: P.O. Box 81226, Seattle, WA 98108-1226</p> #}

			{# <p>Le stockage des données personnelles des Utilisateurs est exclusivement réalisé sur les centre de données (« clusters ») localisés dans des Etats membres de l’Union Européenne de la société Amazon Web Services LLC</p> #}


			<h4>Nous contacter</h4>
			{# <p>Par email : support@legalplace.fr</p> #}

			{# <p>CNIL</p> #}

			{# <p>La société LegalPlace conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture.</p> #}

			{# <p>La société LegalPlace a fait l’objet d’une déclaration à la CNIL sous le numéro 1986932.</p> #}

			<p>
				{# aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par LegalPlace. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : support@legalplace.fr</p> #}
		</div>
	</div>

{% endblock %}
