{% extends "base.html.twig" %} 


{% block body %}
    <div class="container">
		<div class="mb-5">
			<h1 class="text-center my-5">Politiques de confidentialités</h1>
            <p>en construction</p>
		</div>
	</div>
{% endblock %}