{% extends "base.html.twig" %} 


{% block body %}
    <div class="row">
        <div class="col-12">    
            <p> futur page Qui somme nous</p>
        </div>
    </div>

    <div class="tag" style="border: 3px solid black;width: 100px;">
        <a style="text-decoration:none; color:black" title="Titre de l'event" href="{{ path('event_show', {event_id: 43}) }}">
            <img style="width: 90%; display: block; margin: 0 auto;" src="{{ asset('img/hwg.png') }}" alt="tag-event">
            <div style="text-align: center;font-weight: bold;" class="code">AF78R-2186</div>
        </a>
    </div>
{% endblock %}