{% extends 'base.html.twig' %}
{% block title %}évênements de la category
	{{ category.name }}
{% endblock %}


{% block body %}
	<h1 class="text-center">Catégorie :
		{{ category.name }}
	</h1>
	<div class="container">
		<div class="row my-5" id="content">
			{% if category.events is empty %}
				<div class="col-12">
					<div class="alert alert-info">
						<p>Pas d'Êvenements pour cette categorie</p>
					</div>
				</div>
			{% else %}
				{% for event in category.events %}
					<div class="col-12 col-sm-6 col-lg-4 mb-3">
						{% include '/includes/_event-card.html.twig' with {"event": event, "displayInCategory": true} %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}
