{% extends "base.html.twig" %}
{% block title %}Posez-nous une question{% endblock %}

{% block body %}
    <h1>Posez-nous une questions</h1>
    <div class="row my-2">
        <div class="col-12">
            <a href="{{path('faq_index')}}" title="page faq">Retourner vers la FAQ</a>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            {{ form(formView) }}
        </div>
    </div>
{% endblock %}