{% extends 'base.html.twig' %}

{% block title %}Statistiques 
	{{ user.firstName }}
	{{ user.lastName }}
{% endblock %}

{% block body %}
<div class="container">

	<div class="card text-center mt-3">
		<div class="card-header mb-5">
			{% include 'organizer/_tab-header.html.twig' with {"active_tab": "stats"} %}
		</div>
		<div class="card-body">
			<h1 class="mb-5 text-center">Statistiques</h1>
			<em>En construction</em>
			<div class="mb-3">
				<a class="btn btn-secondary" href="{{ asset('csv/' ~ fileName) }}" download="{{ fileName }}">Exporter tous les Évènements au format CSV</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
