{% extends 'base.html.twig' %}

{% block title %}transports d'un event{% endblock %}

{% block body %}
<p>page du manager, liste des demandes...</p>
<p>id du transport : {{ transportId }}</p>
{% endblock %}
