{% extends 'base.html.twig' %}

{% block title %}un transport{% endblock %}

{% block body %}
<p>page d'un transport</p>
<p>slug de l'event : {{ eventSlug }}</p>
<p>id du transport {{ transportId }}</p>
<div>
    <h2>Recapitulatif du transport</h2>
    <p>nom du responsable</p>
    <p>Aller - lieu de rendez vous - heure de départ - lieu d'arrivée</p>
    <p>Retour lieu de rendez vous - heure de départ - lieu d'arrivée</p>
    <p>Commentaires dur esponsables - prix de la place</p>
    <p>nombre de places restantes</p>
</div>

<hr>

<!-- FORM -->
<form>
    <div class="mb-3">
        <label for="exampleInputNumber" class="form-label">Nombre de places à reserver</label>
        <input type="number" class="form-control" id="exampleInputNumber">
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">commentaires / questions a destination du responsable</label>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Faire une demande pour rejoindre le transport</button>
</form>
{% endblock %}
