{% extends 'base.html.twig' %}

{% block title %}un transport{% endblock %}

{% block body %}
<p>page d'un transport</p>
<p>slug de l'event : {{ eventSlug }}</p>
<p>id du transport {{ transportId }}</p>
{% endblock %}
