@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*===========================================================================================================*/
/* STYLE GLOBAL
/*===========================================================================================================*/

:root{
    --main-header-bg-color: #f3f5ec;
    --main-header-text-color : #054F6B;
    --second-header-text-color: #78D5D7;
    --main-footer-bg-color: #EDEDED;
    --main-footer-text-color : #054F6B;
    --second-footer-bg-color: #DDDDDD;
    --second-footer-text-color: #708C91;
    --main-bg-color: #F2EFEA; 
    --second-bg-color: #FFF8F0;
    --third-bg-color: #fcf9f6;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: var(--third-bg-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--main-header-text-color);
}

/* surcharge de style bootstrape des bouton */
.btn-primary{
    background-color: #054F6B;
    color: #EDEDED;
}


/* gestion intermitence de couleur sur les block container*/
.block-bg-pair{
    background-color: var(--main-bg-color);
}
.block-bg-impair{
    background-color: var(--second-bg-color);
}

/*taille minimum du main*/
main{
    min-height: 100vh;
}


/*===========================================================================================================*/
/* STYLE FORMULAIRE DE LOCALISATION PRESENT SUR LES FORM USER/ORGA/EVENT et TRANSPORT
/*===========================================================================================================*/

.contentResult{
    z-index: 100;
}

#resultatApiStart, #resultatApiEnd{
    background-color: rgb(248, 248, 237);
    z-index: 100;
    min-width: 33vw;
}

/*==========================================================================================================*/
/* STYLE DU HEADER
/*==========================================================================================================*/

/*style du text et des symbale de la nav / surcharge de la class bootstrap */
.navbar-light{
    color: var(--main-footer-text-color);
}

header{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    background-color:var(--main-header-bg-color) ;
    align-items: center;
    justify-content: center; 
}

.header-logo {
    display: block;
    width: 80px;
}

.nav-header-style{
    background-color: var(--main-header-bg-color);
    color: var(--main-header-text-color);
    font-weight: bold;
}

.nav-header-style a{
    text-decoration: none;
    color: var(--main-header-text-color);
}


/*==================================================================================================*/
/* STYLE DU MAIN 
/*====================================================================================================*/

/* !! navbar de la creation transport !! */
.absolute-navbar{
    position: fixed;
    top: 25vh;
    left: 10vh;
}

.make-transport{
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

@media screen and (min-width: 998px){
    
    .make-transport{
        display: flex;
        flex-direction: column;
        min-height: 25vh;
    }
}

@media screen and (min-width: 1200px){
    
    .make-transport{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 75vh;
    }
}
/* !!  !!*/


/* suppression du padding et margin top du main*/
main{
    margin-top: 20px;
    padding-top:0;
}


/* style de la banniere sur la page index */
.banniere{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url('../img/banniere.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

/* le formulaire de recherche */
.search-event{
    display: flex;
    flex-direction: row;
    background-color: var(--main-header-bg-color);
    padding: 0.5rem 0.6rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border-radius: 5px;
}

.search-word{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.search-localisation{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.search-category{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
}

.search-order select{
    max-width: 150px;
    padding: 0.5rem;
}
/* tag de l'event */
.tag-block{
    border: 3px solid #054550;
    width: 120px;
}
.tag-img{
    display: flex;
    flex-direction: column;
}
.tag-link{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration:none; 
    color:black;
}
.tag-code{
    text-align: center;
    font-weight: bold; 
    color: #054550
}
/* taille des images dans les cards (rustine Provisoire) */
.card .picture{
    height: 200px;
    width: 100%;
}
.card .picture img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.h3-index{
    font-weight: bold;
}

/*=============== PAGE LISTE TRANSPORT ======================*/
/*surcharge accordeon*/

.accordion-item{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    position:relative;
}
/* petit rond par dessus le accordion item*/
.accordion-item::before{
    display: flex;
    content: "";
    position: absolute;
    left:-25px;
    top:30px;
    height: 50px;
    width: 50px;
    background-color: #054F6B;
    border-radius: 50%;
    border: 5px solid var(--third-bg-color);
    z-index: 10;
}

.accordion-item .collapsed{
    background-color: #F2EFEA;
    color: #054F6B;  
}

.accordion-body{
    background-color: white;
}

.accordion-item, .accordion-button, .accordion-body{
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}

/* style du commenaire quand on depli l'accordeon */

.tag-manager{
    background-color: rgb(89, 99, 89);
    font-size: medium;
}

.transport-comment{
    display: flex;
    width: 100%;
    min-height: 50px;
    margin-right: 10px;
    border: 1px solid var(--second-footer-bg-color);
    background-color: var(--main-footer-bg-color);
}

.tag-aller{
    background-color: blue;
    font-size: medium;
}

.tag-retour{
    background-color: green;
    font-size: medium;
}

.tag-commentaire{
    background-color: orange;
    font-size: medium;
}
/* les bordure sur les div info aller*/
.block-aller-1{
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
}
.block-aller-2{
    border-bottom: 1px solid blue;
}
.block-aller-3{
    border-bottom: 1px solid blue;
    border-right: 1px solid blue;
}
/*-------------------------------------*/
/* les bordure sur les div info retour*/
.block-retour-1{
    border-left: 1px solid green;
    border-bottom: 1px solid green;
}
.block-retour-2{
    border-bottom: 1px solid green;
}
.block-retour-3{
    border-bottom: 1px solid green;
    border-right: 1px solid green;
}

/*le bas de l'accordeon transport */
span.bottom-accordeon{
    font-size: medium;
    font-weight: bold;
    color: var(--main-header-text-color);
}
h6.bottom-accordeon{
    font-weight: bold;
    color: var(--main-header-text-color);
}

/*============================================================================================================*/
/*   STYLE DU FOOTER
/*============================================================================================================*/


footer{
    background-color: var(--main-footer-bg-color);
    color: var(--main-footer-text-color);
}


footer a{
    text-decoration: none;
    color : var(--main-footer-text-color);
}

/*Gestion de la taille de la partie nav du footer*/
.top-footer{
    min-height: 25vh;
    padding: 5vh 0vh;
}


/* GESTION DU LOGO AU CENTRE DU FOOTER */
.logo-footer{
    height: 200px;
    width: 200px;
}

.logo-footer img{
    height: 100%;
    width: 100%;
}


/* le bas du footer  */
.bottom-footer{
    background-color: var(--second-footer-bg-color);
    color: var(--second-footer-text-color);
    font-size: small;
    font-weight: bold;
}
