.box {
    height: 100px;
    text-align: center;
}

.avatar-profil {
    width: 150px;
    height: 150px;
    
    border-radius: 50%;
    overflow: hidden;

    cursor: pointer;
}

.avatar-profil img{
    display: block;
    width: 100%;
    height: 100%;
    
}

.avatar-choice {
    width: 100px;
    height: 100px;    
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}
.avatar-choice img{
    display: block;
    width: 100%;
    height: 100%;    
    cursor: pointer;
}

.premium {
    border: 6px solid gold;
}

.selected-avatar {
    border: 3px solid green;
}

.adress-field {
    height: 70px;
}

@media screen and (min-width: 768px){
    .adress-field {
        width: 60%;
        margin: 0 auto;
    }
    
}