{% extends "base.admin.html.twig" %}


{% block body %}
    <div class="row">
        {{form_start(form)}}

        <input type="submit" name="submit" class="btn btn-primary">
        {{form_end(form)}}
    </div>


{% endblock %}