<h1>Bonjour</h1>


<p>Vous etiez inscrit à l'événement : {{ event.title }}</p>

<p>Il vient d'être annulé.</p>

<p>Votre transport, ou votre ticket lié à cet événement est donc annulé également.</p>

<p>Cordialement</p>

<p>L'équipe HwG</p>
