<h1>Bonjour {{ user.firstname }} {{ user.lastname }}</h1>

<p>vous êtes inscrit à l'événement : {{ event.title }}</p>

<p>Mettre les infos de l'événement</p>


<p>Proposez un transport ou demandez un ticket sur un transport existant.</p>

<p>Cordialement</p>

<p>L'équipe HwG</p>