    <div class="row py-5 border-bottom">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <a href="{{path('app_register_user')}}" class="btn btn-primary">Créer compte utilisateur</a>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <a href="{{path('app_register_organizer')}}" class="btn btn-primary">Créer compte Organisateur</a>
        </div>
    </div>