{% extends 'base.html.twig' %}

{% block title %}Historique : {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
	<div class="container">
		<div class="card text-center mt-3">
			<div class="card-header mb-5">
				{% include "user/_tab-header.html.twig" with {"active_tab": "history"} %}
			</div>
			<div class="card-body mb-3">
				<h1 class="mb-5 text-center">Liste des Évènements auquels j'ai participé</h1>
				<p class="text-center">En construction</p>
			</div>
		</div>
	</div>
{% endblock %}
